@model IEnumerable<WeatherForecastASPNetCoreDBFirst.Models.Kullanicilar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SifreHash)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SifreHash)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KullaniciId">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.KullaniciId">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.KullaniciId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
